name: release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  publish_crates_io:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC token exchange
    steps:
      - uses: actions/checkout@v6
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish powersync crate
        run: cargo publish
        working-directory: powersync
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
